
<header class="navbar">
    <!-- Botão do menu hamburguer -->
    <div class="menu-toggle" (click)="toggleMenu()">&#9776;</div>
</header>

<div id="menuOverlay" class="menu-overlay" (click)="closeMenu()"></div>

    <!-- Menu lateral -->
<nav id="sideMenu" class="side-menu">
<ul>
    <li><a (click)="navigateToInicio()">Início</a></li>
    <li><a (click)="navigateToImovel()">Gerenciar Imóvel</a></li>
    <li><a >Gerenciar Inquilinos</a></li>
    <li><a (click)="navigateToHomePage()">Sair</a></li>
</ul>
</nav>

    <!-- Cabeçalho da página -->
<div class="page-header">
  <h1 class="page-title">AlugestBrasil</h1><br>
  <h1 class="page-subtitle">Gerenciamento de Imóveis</h1>
  <p class="page-subtitle">Cadastre e gerencie seus imóveis</p>
</div>
